h1 {
    color: #ff6a00;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
}

p {
    color: red;
    font-family: courier;
    font-size: 160%;
}

.borderless td, .borderless th {
    border: none;
}

.row-m-t {
    margin-top: 20px
}
.required {
  background: red;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}
input:required:focus {
  border: 2px solid red;
  outline: none;
}

 input:required:after{
   content:"*";
   font-weight:bol;
 }

 textarea:required:focus{
   border: 3px solid red;
   outline: none;

 }
